.informativa {
  margin-top: 10px; margin-right: 20px
}

.scaduto-informativa {
  border-left: 10px solid #e93131
}

.attivo-informativa {
  border-left: 10px solid green
}

.tristate {
  position: relative;
  display: inline-block;
}
.tristate > input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.tristate > input[type="radio"] + i {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: top;
}
.tristate > input[type="radio"] + i, .tristate > input[type="radio"] + i:before, .tristate > input[type="radio"] + i:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.tristate > input[type="radio"]:first-child {
  z-index: 10;
}
.tristate > input[type="radio"]:first-child:checked {
  z-index: 0;
}
.tristate > input[type="radio"]:checked + input[type="radio"] {
  z-index: 10;
}
.tristate > input[type="radio"]:checked + i + label, .tristate > input[type="radio"]:checked + i + label + label {
  display: none;
}
.tristate > input[type="radio"]:checked + input[type="radio"] + i + label, .tristate > input[type="radio"]:checked + input[type="radio"] + i + label + label + label {
  display: none;
}
.tristate > input[type="radio"]:checked + input[type="radio"] + input[type="radio"] + i + label + label, .tristate > input[type="radio"]:checked + input[type="radio"] + input[type="radio"] + i + label + label + label {
  display: none;
}
.tristate-checkbox > input[type="radio"] + i {
  border: solid 2px #bdbdbd;
  border-radius: 3px;
}
.tristate-checkbox > input[type="radio"] + i:before {
  content: ' ';
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  background-color: #dc3545;
  border-radius: 3px;
}
.tristate-checkbox > input[type="radio"] + i:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 4px;
  top: 7px;
  color: white;
  border-bottom: solid 3px;
  opacity: 0;
}
.tristate-checkbox > input[type="radio"]:checked + i {
  background-color: #009688;
}
.tristate-checkbox > input[type="radio"]:checked + i:before {
  background-color: #009688;
}
.tristate-checkbox > input[type="radio"]:checked + i:after {
  left: 2px;
  top: 5px;
  width: 14px;
  height: 5px;
  border-left: solid 3px;
  border-bottom: solid 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 1;
}
.tristate-checkbox > input[type="radio"]:checked + input[type="radio"] + i:after {
  width: 10px;
  height: 0px;
  border-left: none;
  border-bottom: solid 3px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  opacity: 1;
}
.tristate-checkbox > input[type="radio"]:checked + input[type="radio"] + input[type="radio"] + i:before {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}


